<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Artist Directory</label>
  <div *ngIf="query"> For {{query}}</div>
  <input type="text" class="form-control" id="exampleFormControlInput1" [(ngModel)]="query" (focus)="onchangeQuery()"/>
  <div class="d-flex flex-column bd-highlight" *ngIf="query">
  
	  <div class = "artistVal" *ngFor = "let artist of (artists | searchArtists : query)"  (click)="showArtist($event,artist); query=''">
		<app-artist-item [artist]="artist"></app-artist-item>
	  </div>	
  </div>

  <app-artist-details *ngIf="currentArtist" [artist]="currentArtist"></app-artist-details>

</div>
